In [1]:
#Dependencies 
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

#Set seed
np.random.seed(129)

In [2]:
ind = ['row1', 'row2', 'row3', 'row4', 'row5', 'row6', 'row7', 'row8']
col = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
series_obj = Series(np.arange(8), index = ind)
series_obj

row1    0
row2    1
row3    2
row4    3
row5    4
row6    5
row7    6
row8    7
dtype: int32

In [3]:
#Retrieve all records with tha label-index
series_obj['row5']

4

In [4]:
#Retrieve all records with the specified integer index
series_obj[[0, 4]]

row1    0
row5    4
dtype: int32

In [5]:
DF_obj = DataFrame(np.random.rand(36).reshape(6, 6), index = ind[:-2], columns = col)
DF_obj

          col1      col2      col3      col4      col5      col6
row1  0.570532  0.268260  0.605295  0.084856  0.973654  0.516339
row2  0.888989  0.097392  0.089090  0.018426  0.784254  0.022194
row3  0.161953  0.424496  0.228520  0.177743  0.868611  0.334083
row4  0.804373  0.462458  0.375552  0.649553  0.441435  0.166366
row5  0.492077  0.793374  0.098694  0.281043  0.396527  0.810005
row6  0.152330  0.373937  0.945213  0.595748  0.728006  0.212388

In [6]:
#The slice of data from the original dataframe
DF_obj.loc[['row2', 'row5'], ['col5', 'col2']]

          col5      col2
row2  0.784254  0.097392
row5  0.396527  0.793374

In [7]:
#Slice is dependent on the sepcified rows and columns
DF_obj.loc[['row2']]

          col1      col2     col3      col4      col5      col6
row2  0.888989  0.097392  0.08909  0.018426  0.784254  0.022194

In [8]:
#Data slicing with series
series_obj['row3':'row7']

row3    2
row4    3
row5    4
row6    5
row7    6
dtype: int32

In [9]:
#Doing operation on the entire dataframe. Here is to compare with a scalar value
DF_obj <.2

       col1   col2   col3   col4   col5   col6
row1  False  False  False   True  False  False
row2  False   True   True   True  False   True
row3   True  False  False   True  False  False
row4  False  False  False  False  False   True
row5  False  False   True  False  False  False
row6   True  False  False  False  False  False

In [10]:
#Operation with series
series_obj <.2

row1     True
row2    False
row3    False
row4    False
row5    False
row6    False
row7    False
row8    False
dtype: bool

In [11]:
#Filtering with scalars for series
series_obj[series_obj > 6]

row8    7
dtype: int32

In [12]:
#If it is filter out in dataframe, it will be replaced with null values
DF_obj[DF_obj > .1]

          col1      col2      col3      col4      col5      col6
row1  0.570532  0.268260  0.605295       NaN  0.973654  0.516339
row2  0.888989       NaN       NaN       NaN  0.784254       NaN
row3  0.161953  0.424496  0.228520  0.177743  0.868611  0.334083
row4  0.804373  0.462458  0.375552  0.649553  0.441435  0.166366
row5  0.492077  0.793374       NaN  0.281043  0.396527  0.810005
row6  0.152330  0.373937  0.945213  0.595748  0.728006  0.212388

In [13]:
#Change multiple values within series
series_obj['row1', 'row5', 'row8'] = 8
series_obj

row1    8
row2    1
row3    2
row4    3
row5    8
row6    5
row7    6
row8    8
dtype: int32

In [14]:
DF_obj

          col1      col2      col3      col4      col5      col6
row1  0.570532  0.268260  0.605295  0.084856  0.973654  0.516339
row2  0.888989  0.097392  0.089090  0.018426  0.784254  0.022194
row3  0.161953  0.424496  0.228520  0.177743  0.868611  0.334083
row4  0.804373  0.462458  0.375552  0.649553  0.441435  0.166366
row5  0.492077  0.793374  0.098694  0.281043  0.396527  0.810005
row6  0.152330  0.373937  0.945213  0.595748  0.728006  0.212388